<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>torrent</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>BitTorrent Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bittorrent.torrent</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.getfetchapp.Fetch-1478723902</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uk.co.wearecocoon.fetch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>magnet</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4019</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>d0bb57a5e802f0e2c623dfb086ce3296dd6fd121</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>uk.co.wearecocoon.Fetch.Search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeInvitation</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Downloads</string>
			<key>UIApplicationShortcutItemType</key>
			<string>uk.co.wearecocoon.Fetch.Downloads</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Files</string>
			<key>UIApplicationShortcutItemType</key>
			<string>uk.co.wearecocoon.Fetch.AddFiles</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCloud</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Activity</string>
			<key>UIApplicationShortcutItemType</key>
			<string>uk.co.wearecocoon.Fetch.Activity</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
				<string>com.bittorrent.torrent</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BitTorrent Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.bittorrent.torrent</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.bittorrent.org/beps/bep_0000.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TORR</string>
				<key>public.filename-extension</key>
				<array>
					<string>torrent</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-bittorrent</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
