<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Downpour.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Fetch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PutioKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SRBarcodeScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>280B28371C1C8930006E17B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>280B28511C1C894A006E17B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>280B28671C1C8977006E17B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>280B287C1C1C89BE006E17B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C91E4F1CA709C600D45750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
